<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hussain.bloodconnectserver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="BloodConnect Server"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".select_camp"
            android:label="@string/title_activity_select_camp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.hussain.bloodconnectserver.select_camp" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".add_camp">
            <intent-filter>
                <action android:name="com.example.hussain.bloodconnectserver.add_camp" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".show_donor">
            <intent-filter>
                <action android:name="com.example.hussain.bloodconnectserver.show_donor" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthCheckup">
            <intent-filter>
                <action android:name="com.example.hussain.bloodconnectserver.HealthCheckup" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".donation" >
        <intent-filter>
            <action android:name="com.example.hussain.bloodconnectserver.donation" />

            <category android:name="android.intent.category.default" />
        </intent-filter>
       </activity>
        <activity android:name=".refreshment">
        <intent-filter>
            <action android:name="com.example.hussain.bloodconnectserver.refreshment" />

            <category android:name="android.intent.category.default" />
        </intent-filter>
        </activity>
    </application>

</manifest>